# Introduction to Pandas

---

**Pandas** is a Python library which can be used to manipulate, clean, and query data. Pandas was created by Wes McKinney in 2008, and is an open source project. Pandas has quickly become the defacto library for representing relational data for data scientists. Very powerful, yet intuitive and simple library for data munging and analysis sometimes called **Excel on Steroids**.


### Lecture outline

---

* Pandas Series


* Pandas DataFrame


* Shape, Size, type, and Dimension of DataFrame and Series


* Index, Selection, Filtering


* Re(Set)-index, Dropping Entries, Axis


* Sorting


* Column Rename, Reorder, Insertion, Deletion


* Arithmetic Operations


* Unique Values and Value Counts


* Statistics with DataFrame

### Homework:

[101 Pandas Exercises for Data Analysis](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

In [1]:
import pandas as pd

import numpy as np

## Pandas Series

---

The series is one of the core data structures in Pandas. We can represent it as a two column structure, where the first column is a special index column and the second is actual data. It's important to note that the data column has a label of its own and can be retrieved using the `.name` attribute. Generally, Series is a one-dimensional array-like object containing a sequence of values and an associated array of index.

Imagine series as an one column, whereas two or more series construct the DataFrame.

![alt text](images/series_new.png "Title")

In [19]:
# Simple Series object

series = pd.Series([4, 7, -5, 3], name="First_Series")

series

0    4
1    7
2   -5
3    3
Name: First_Series, dtype: int64

In [21]:
pd.DataFrame(series) # Convert Series into DataFrame

   First_Series
0             4
1             7
2            -5
3             3

In [8]:
# Extract actual values (data) by using .values attribute

series.values

array([ 4,  7, -5,  3])

In [4]:
series.tolist() # Returns Python list

[4, 7, -5, 3]

In [9]:
# Extract the index column by using .index attribute

series.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
series.name # Returns Series name

'First_Series'

In [12]:
# Select particular value from a Series using its index

series[2]

-5

`Pandas Series` can be constructed from Python data structures such as List, Dict, and others.

In [13]:
# Construct Series from dictionary


students_scores = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English'}


pd.Series(students_scores)

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [17]:
# Construct Series from list of tuples

students = [("Alice","Brown"), ("Jack", "White"), ("Molly", "Green")]


pd.Series(students)

0    Alice
1    Brown
2     Jack
3    White
4    Molly
5    Green
dtype: object

#### Reference

[Series mathods and attributes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

## Pandas DataFrame

---

The DataFrame data structure is the heart of the Panda's library. It's a primary object that we will be working 
with in data analysis and cleaning tasks. A DataFrame represents a rectangular table of data and contains an ordered collection of columns, or conceptually it is a two-dimensional series object, where there's an index and multiple columns. Hence, we can think of it as a Stacked Series.


> While a DataFrame is physically two-dimensional, we can use it to represent higher dimensional data in a tabular format using hierarchical indexing.

There are many ways to construct DataFrame. To do so, we can use conventional Python data structures such as List, Dict, or Tuple. One of the most common way to have a DataFrame is to use dictionary.

Note that, DataFrame has also an index column and we can operate on that special column too.

![alt text](images/dataframe.svg "Title")

In [18]:
# Create DataFrame from dictionary


data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}


df = pd.DataFrame(data)

df

    state  year  population
0    Ohio  2000         1.5
1    Ohio  2001         1.7
2    Ohio  2002         3.6
3  Nevada  2001         2.4
4  Nevada  2002         2.9
5  Nevada  2003         3.2

In [22]:
# Extract values from DataFrame

df.values

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4],
       ['Nevada', 2002, 2.9],
       ['Nevada', 2003, 3.2]], dtype=object)

In [23]:
# Extract index from DataFrame

df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
# Extract column names

df.columns

Index(['state', 'year', 'population'], dtype='object')

We can use different combinations of data stuctures to create DataFrame. Let try some of them!

In [ ]:
# Create DataFrame using dict of Series

data = {"Nevada": pd.Series([2.4, 2.5, 2.6]),
       "Ohio": pd.Series([1.5, 1.7, 1.8])}


pd.DataFrame(data)

In [28]:
# Create DataFrame using dict of dicts


data = {'Nevada': {2000: 2.3, 2001: 2.4, 2002: 2.9},
        
        'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}


pd.DataFrame(data)

      Nevada  Ohio
2000     2.3   1.5
2001     2.4   1.7
2002     2.9   3.6

In [31]:
# Create DataFrame using list of lists


data = [['Nevada', 'Carson City', 900000], 
        ['Ohio', 'Columbus', 300000], 
        ['Nebraska', 'Lincoln', 10100000], 
        ['Kansas', 'Topeka', 5500000]]


pd.DataFrame(data)

          0            1         2
0    Nevada  Carson City    900000
1      Ohio     Columbus    300000
2  Nebraska      Lincoln  10100000
3    Kansas       Topeka   5500000

#### Reference

[DataFrame mathods and attributes](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

## Shape, Size, type, and Dimension of DataFrame and Series

In [32]:
series

0    4
1    7
2   -5
3    3
Name: First_Series, dtype: int64

In [33]:
# Shape of a Series

series.shape # Only indicate number of rows

(4,)

In [34]:
# Number of dimensions

series.ndim

1

In [35]:
# Number of elements

series.size

4

In [36]:
# Type of values (entries) in a Series

series.dtypes

dtype('int64')

In [37]:
df

    state  year  population
0    Ohio  2000         1.5
1    Ohio  2001         1.7
2    Ohio  2002         3.6
3  Nevada  2001         2.4
4  Nevada  2002         2.9
5  Nevada  2003         3.2

In [38]:
# Number of rows and columns

df.shape

(6, 3)

In [39]:
# Number of dimensions or number of axis

df.ndim

2

In [40]:
# Number of elements

df.size

18

In [41]:
# Type of values (entries) in a DataFrame for each column

df.dtypes

state          object
year            int64
population    float64
dtype: object

## Index, Selection, Filtering

---

As we've seen, both Series and DataFrames can have indices applied to them. The index is essentially a row level
label, and in Pandas the rows correspond to axis zero. Indices can either be autogenerated, or they can be set explicitly. The index objects are responsible for holding the axis labels and other metadata, like the axis name or names.

In [ ]:
# Let read CSV file and perform indexing, selection and filtering

df = pd.read_csv("datasets/admission.csv")

df

### Indexing

---

Index object is immutable, thus cannot be modified. The immutability allow us to share the index among data structures and perform merging operation. Moreover, it behaves like fix-sized set and we can perform common set operations on it, such as `intersection`, `union`, `difference` and so on. No worries, we will see all of them.

> Pandas Index object can contain duplicate elements.

#### Reference

[Index methods and attributes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html)

[Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#different-choices-for-indexing)

Series indexing works similarly as in NumPy, except we can use the Series’s index values instead of only integers.

In [ ]:
series = pd.Series(range(6), index=['a', 'b', 'c', 'd', 'e', 'f'])

series

In [ ]:
series[1] # Select one particular element by its position

series[1:4] # Select range of values

series[:3] # Select up to third position

series[3:] # Select from third position

series[-1] # Select from the end

In [ ]:
# Instead of integer indexing or positional indexing, we can use actual, Series indices to select data

series["b"]

series["b":"e"]

series[:"d"]

series["c":]

Indexing in case of DataFrame is different compared to Series. As DataFrame have two axis then we can select row as well as columns. Let use our DataFrame for indexing tasks.

In [ ]:
df.head()

Indexing along y axis or selecting only columns

In [ ]:
df["GRE Score"] # Select only one column

df[["GRE Score", "TOEFL Score"]] # Select two or more columns

Indexing along x axis or selecting only rows

In [ ]:
df[:2] # Select first two rows

df[2:5] # Select range of rows

df[300:] # Select from 300 to the end

Integer indexing does not work for DataFrame

In [ ]:
df[2]

Pandas also have different methods for row and column selection

### Selection

---

`loc` method performs selection using axis labels and `iloc` performs selection using integers. They enable us to select a subset of the rows and columns from a DataFrame with NumPy-like notation. Additinally, Pandas have `head()` and `tail()` methods to select row and columns from the head and tail, respectively.

In [ ]:
df.head() # Select first 5 row by default

df.head(3) # Select first 3 rows



df.tail() # Select last 5 rows by default

df.tail(3) # Select last 3 rows

Selection using axis labels. Purely label-location based indexer.

In [ ]:
df.loc[:] # Select all rows and columns

df.loc[:, "GRE Score"] # Select all rows and one column

df.loc[[0, 1, 2], "GRE Score"] # Select first three entries of one column

df.loc[:10, ["GRE Score", "TOEFL Score"]] # Select first 10 entries of two or more columns

df.loc[5:10, ["GRE Score", "TOEFL Score"]] # Select range of rows and range of columns by picking them one-by-one

df.loc[5:10, "TOEFL Score":] # Select range of rows and range of columns

df.loc[:5, :"SOP"] # Select range of rows and columns

df.loc[:5, "SOP":"CGPA"] # Select range of rows and columns

Selecting using integers. Purely integer-location based indexing

In [ ]:
df.head()

In [ ]:
df.iloc[:] # Select all rows and columns

df.iloc[0] # Select only one row

df.iloc[[0]] # Select first row. Same as above

df.iloc[:5] # Select range of rows

df.iloc[:5, 0] # Select 5 rows of the first columns

df.iloc[:5, :3] # Select row as well as column range

df.iloc[[0, 2, 4], [0, 2, 4]] # Select particular rows and columns

### Filtering or Boolean Indexing

---

Moreover, we can perform row and column selection based on boolean indexing. This is more like to select rows or columns which satisfy pre-defined condition(s).

Boolean indexing means to use boolean series, only True and/or False to select rows or columns.

#### Reference

[Boolean indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing)

In [ ]:
df.head()

In [ ]:
df["GRE Score"] > 325 # Returns boolean Series. True when condition is True, otherwise False

df[df["GRE Score"] > 325] # Returns corresponding DataFrame. Where True

df[~(df["GRE Score"] > 325)] # Returns DataFrame where False

#### Chained Conditionals

With the chained conditionals, we can filter DataFrame based on several conditions chained by using logic operators.

In [ ]:
condition_one = (df["GRE Score"] > 325)

condition_two = (df["Research"] == 1)


df[condition_one & condition_two] # Only select rows where BOTH conditions satisfy


df[condition_one | condition_two] # Only select rows where ONE of the condition satisfy

There is a possibility to use `loc` with conditions to perform DataFrame filtering.

In [ ]:
df.loc[condition_one & condition_two]

Additionally, Pandas has `query()` method to perform querying the columns of a DataFrame with a boolean expression. Compared to other indexing and selection techniques, `query()` method only takes conditions specified as a string.

In [ ]:
df.query("SOP > LOR") # Select rows where "SOP" is more than "LOR"


df.query("(SOP > LOR) | (CGPA > 9)") # Combine conditionals with OR

## Re(Set)-index, Dropping Entries, Axis

In [ ]:
test = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6], "c": [7, 8, 9], "d": ["x", "y", "z"]})

### Re-index

---

`reindex()` method unable us to introduce new index object outside the DataFrame. It changes the order of indexes without changing the values of the row associated to each index.

#### Reference

[Difference between df.reindex() and df.set_index() methods in pandas](https://stackoverflow.com/questions/50741330/difference-between-df-reindex-and-df-set-index-methods-in-pandas)

In [ ]:
test

In [ ]:
test.reindex([1, 2, 3], axis=0) # Reindex rows

In [ ]:
test.reindex(["b", "c", "a", "d"], axis=1) # Reindex columns

### Set index

---

`set_index()` method takes a list of columns and promotes those columns to an index. `set_index` will change the indexes with the values of a column, without touching the order of the other values in the DataFrame

In [ ]:
test

In [ ]:
test.set_index("a") # Changed the index but values

In [ ]:
test.set_index(["a", "b"]) # Set multiple columns as index

### Reset index

---

We can remove existing index from the DataFrame and keep it as a new column or completely discard it.

In [ ]:
test

In [ ]:
test = test.set_index("d")

test

In [ ]:
test.reset_index(drop=False) # Reset index and keep it as a column

In [ ]:
test.reset_index(drop=True) # Reset index and discard it

### Dropping Entries

---

We can drop entries from rows and/or columns by specifying its label.

In [ ]:
df.drop(0) # Drop one row

df.drop([0, 1, 2]) # Drop three rows

df.drop(df.index) # Drop all rows

#----------------------------------------------

df.drop("GRE Score", axis=1) # Drop one column

df.drop(["GRE Score", "TOEFL Score"], axis=1)

### Axis

---

As DataFrame have two dimensions and we can perform operations on each dimension. Hence, this requires to indicate on which axis do you want Pandas to perform operation. `axis=0` is x axis or `horizontal` axis and indicates rows. `axis=1` is y axis or `vertical` axis and indicates columns.

However, we can have DataFrame with more than 2 dimensions. In this case Pandas will represent them as a multi-index DataFrames. With higher dimensional DataFrames it's even more necessary to indicate on which axis you want/need operation.

Pandas has several methods and attributes which can operate on axis object itself. Now we just review two of them and later on we'll meet them again.

In [ ]:
df.axes # Returns list of axis or labels along with horizontal and vertical axis

Let make simple DataFrame to understand how the `set_axis()` method works.

In [ ]:
test

In [ ]:
test.set_axis(['A', 'B', 'C'], axis=0) # Set new values for axis zero

In [ ]:
test.set_axis(["X", "Y"], axis=1) # Set new values for axis one

## Sorting

---

Sorting is an important operation. We can either sort by index or by value. The latter means to sort by columns. Moreover, we can sort DataFrame by several columns and with different sorting order, ascending or descending.

In [ ]:
series = pd.Series([3, 5, 7, 1, 9, 2], index=['d', 'a', 'b', 'c', 'g', 'f'])


series

In [ ]:
series.sort_index(ascending=True) # Sort by index in ascending order


series.sort_index(ascending=False) # Sort by index in descending order

In [ ]:
series.sort_values(ascending=True) # Sort by value in ascending order

series.sort_values(ascending=False) # Sort by value in descending order

We can sort DataFrame with applying the same logic.

In [ ]:
df.head()

In [ ]:
df.sort_index(ascending=True) # Sort DataFrame by index in ascending order

df.sort_index(ascending=False) # Sort DataFrame by index in descending order

In [ ]:
df.sort_values("CGPA", ascending=True) # Sort by column in ascending order

df.sort_values("CGPA", ascending=False) # Sort by column in descending order

In [ ]:
df.sort_values(["CGPA", "Research"], ascending=[True, True]) # Sort by two columns. Both in ascending

df.sort_values(["CGPA", "Research"], ascending=[True, False]) # Sort by two columns. AScending and descending

df.sort_values(["CGPA", "Research"], ascending=True) # Same as the first one

## Column Rename, Reorder, Insertion, Deletion

---

DataFrame is dynamic, meaning that we can add and remove columns, as well as reorder or rename them.

#### Reference

[DataFrame.rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

### Rename Columns

---

Rename existing columns, or set new names for columns.

In [ ]:
df.head()

In [ ]:
# We have to indicate mapper. Which column we want to rename and new name of it

df.rename({"GRE Score": "GRE", "TOEFL Score": "TOEFL"}, axis=1)

We can use `set_axis` method to rename columns. However, `set_axis` method requires to give the same number of new column names as original DataFrame have.

In [ ]:
df.set_axis(["a", "b", "c", "d", "e", "f", "g", "h", "i"], axis=1)

### Reorder Columns

---

Sometimes we may need to just re-order the columns. There are a few ways to do it.

In [ ]:
test

In [ ]:
new_columns = ["c", "a", "d", "b"]

test[new_columns] # Reorder columns by changing column names and then perform selection

In [ ]:
test.reindex(new_columns, axis=1) # Change column order by reindexing

### Insert new columns

---

We can add new columns to DataFrame at either end

In [ ]:
test

In [ ]:
test["E"] = ""  # Add an empty column

test["F"] = np.nan # Add new column with none values

test["G"] = [10, 11, 12] # Add new values

test

The above techniques can add new column only at the end of the DataFrame. If we want to add new column at specified position, we can use `insert()` method. Furthermore, there is an `assign()` method which can assign new columns to a DataFrame. The `assign()` method, compared to `insert()` method, which is inplace method, returns new DataFrame with new columns assigned along with old columns.

In [ ]:
test.insert(loc=0, column="H", value=test["b"] ** 2) # Inser new calculated column at the first position

test

In [ ]:
test = test.assign(I=test["b"]+test["c"]) # Assign new column


test

### Remove columns

---

We saw how to drop values along the horizontal and vertical axis in above sections. Removing column is the same.

In [ ]:
test

In [ ]:
test.drop("H", axis=1) # Remove one column

test.drop(["H", "I"], axis=1) # Remove two or more columns

## Arithmetic Operations

---

We can perform arithmetic operations along any axis. These operations are quite easy. However they can be a part of complex chained expression. These operations have alternative methods, as well. Actually, we only perform these simple arithmetic operations on Pandas Series and then insert the result into Pandas DataFrame.

In [ ]:
series

In [ ]:
series + 10 # Add constant value to a series

series * 10 # Multiply series by a constant value

series + pd.Series([1, 2, 3, 4, 5, 6], index=series.index) # Add new Series

Arithmetic operations on DataFrames

In [ ]:
test

In [ ]:
test + 5 # Cannot add integer while having string type column in DataFrame

## Unique Values and Value Counts

---

As the header suggests, we can count the number of unique values in a column, as well as count how many times a certain value occur.

### Unique Values

---

We can find the number of unique values in a column by using `unique()` method.

In [ ]:
series

In [ ]:
series.unique() # Returns list of only unique values

series.index.unique() # Finds unique values in a Series index. Returns index object without duplicates.

In [ ]:
df.head()

In [ ]:
df["Research"].unique() # Research column has only two unique values

df["University Rating"].unique() # Unique values for University Rating

### Value Counts

---

Value counts represent the operation when we want to count the number of unique values in a column or Pandas Series. In other words, after values count, we will have Pandas series. The index will be the unique value from  a particular column and actual data for a new series will be the count of these unique values. In shorts, calculates value frequencies

In [ ]:
df.head()

In [ ]:
df["Research"].value_counts() # We have 219 ones and 181 zeros

In [ ]:
# Requires Pandas version 1.1.0


df.value_counts(subset=["Research", "University Rating"]) # Value counts for two or more columns.
                                                          # Returns multi-index DataFrame

## Statistics with DataFrame

---

Pandas is equipped with various methods for performing statistical operations on a Series or DataFrame. Also, note that these operations can be performed on either axis. On rows or columns.

#### Reference

[Statistical functions](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html)

In [ ]:
df.head()

In [ ]:
df.iloc[:,1:].describe().round(2) # Summary statistics

We can separately calculate these statistics for each column by calling corresponding methods on columns.

In [ ]:
df.sum(axis=0) # Sum across columns

df.sum(axis=1) # Sum across rows

#---------------------------------

df.mean(axis=0) # Average across columns

df.mean(axis=1) # Average across rows

#----------------------------------

df.min() # Minimum across columns

df.max() # Maximum across columns

What if we want to know where is the minimum and maximum value occur? In other words, what's the index of the minimum and maximum value? Pandas have methods for that.

In [ ]:
df.idxmin() # Gives index of minimum values for each column

df.idxmax() # Gives index of maximum values for each column

#### There are different methods, which help to calculate various statistics on DataFrame or Series.

![alt text](images/statistics.png "Title")

### Covariance and Correlation

---

These statistics compared to above-mentioned ones requires pairs of values or at least two Series to give meaningful results. Let use our DataFrame to calculate covariance and correlation between some columns.

### Covariance

In [ ]:
covariance = df.iloc[:, 1:].cov() # Compute pairwise covariances among the series in the DataFrame

covariance

We see that above and below of the main diagonal we have the same values. This was expected considering `Covariance` nature. Let try and make it upper triangular matrix for better representational purposes.

In [ ]:
covariance.where(np.triu(np.ones(covariance.shape)).astype(np.bool)).fillna("")

### Correlation

In [ ]:
correlation = df.iloc[:, 1:].corr() # Compute pairwise correlation among the series in the DataFrame

correlation

We have the same situation as in case of covariance, or we see that above and below main diagonal there are the same elements. **Correlation is scaled form of the Covariance**, hence this result was expected too.

In [ ]:
correlation.where(np.triu(np.ones(correlation.shape)).astype(np.bool)).fillna("")

> **Covariance is a measure of correlation and it indicates direction of linear relationship between two variables.**


> **Correlation is scaled Covariance or the values are standardized. Correlation measures both the strength and direction of the linear relationship between two variables**

# Summary

---

In this class we've covered quite broad range of Pandas functionality. From the simplest operation of data creation or reading to performing statistical operations on DataFrames. In the next classes we dig deeper Pandas capabilities.